<nav class="navbar navbar-expand-lg navbar-dark" id="navbar">
    <div class="container">
        <a class="navbar-brand text-white d-flex" [routerLink]="['']">
            Trucky
        </a>
        
        <button (click)="isCollapsed = !isCollapsed" class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
            *ngIf="isAdmin">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item m-1" *ngIf="isAdmin">
                    <label class="text-white p-2" *ngIf="isAdmin">Hi ! &#9995; {{userEmail}}</label>
                    <button class="btn btn-warning btn-sm mx-2" (click)="logout()">Logout</button>
                </li>
                <li class="nav-item m-1" *ngIf="isAdmin">
                    <app-post></app-post>
                </li>
                <li class="nav-item m-1" *ngIf="isAdmin">
                    <app-notify></app-notify>
                </li>
            </ul>
        </div>
        <ul class="navbar-nav ms-auto" *ngIf="!isAdmin">
            <li class="nav-item">
                <a class="btn btn-outline-light btn mx-2" *ngIf="!isAdmin" href="tel:+91{{contact[0]?.phone}}">
                    <i class="bi bi-telephone-fill"></i> 
                    <label>+91-{{contact[0]?.phone}}</label>
                </a>
            </li>
        </ul>
        
    </div>
</nav>