<header>
    <div class="container my-2">
        <div class="d-flex">
            <div class="col-sm d-flex">
                <div class="" ngbDropdown #myDrop="ngbDropdown">
                    <button class="btn btn-btn-primary mr-2" id="dropdownManual" ngbDropdownAnchor
                        (focus)="myDrop.open()">Category</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownManual" #menu>
                        <input type="button" ngbDropdownItem *ngFor="let item of category" (click)="changeMenu(item)"
                            value="{{item | titlecase}}">
                    </div>
                </div>
                <div class="" ngbDropdown #myDrop2="ngbDropdown" *ngIf="isAdmin">
                    <button class="btn btn-btn-primary mr-2" id="dropdownManual" ngbDropdownAnchor
                        (focus)="myDrop2.open()">Admin</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownManual" #menu id="admin">
                        <input type="button" ngbDropdownItem value="Users" [routerLink]="['/admin/users']" disabled>
                        <input type="button" ngbDropdownItem value="Post" disabled>
                        <input type="button" ngbDropdownItem value="Add Feature"
                            [routerLink]="['/admin/additional-feature']">
                    </div>
                </div>
            </div>
            <div class="input-group ms-auto"  id="search">
                <input type="text" class="form-control" placeholder="Search Vehicles..." aria-label="Search"
                aria-describedby="basic-addon1" (keydown.enter)="search(search_veh)" #search_veh>
                <span class="input-group-text" id="basic-addon1" (click)="search(search_veh)"><i
                        class="bi bi-search"></i></span>
            </div>
        </div>
    </div>
    
    <div class="carousel">
        <div id="carouselExampleSlidesOnly" class="carousel" *ngIf="!isAdmin">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img [src]="'https://truckystruck.s3.ap-south-1.amazonaws.com/'+banner" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>
    </div>
</header>