<div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="modal-body">
            <label class="form-label">Select Catagory</label>
            <select class="form-select" aria-label="Default select example" formControlName="type">
                <option selected>Select Catogory</option>
                <option value="comercial">Comercial</option>
                <option value="car">Car</option>
                <option value="bike">Bike</option>
            </select>
            <label class="form-label">Select Brand</label>
            <select class="form-select" aria-label="Default select example" formControlName="brand">
                <option selected>Select Brand</option>
                <option value="Tata">Tata</option>
                <option value="Ashok">Ahsok</option>
                <option value="Other">other</option>
            </select>
            <div class="mb-3">
                <label class="form-label">Model</label>
                <input type="text" class="form-control" formControlName="model">
            </div>
            <div class="mb-3">
                <label class="form-label">Year</label>
                <input type="text" class="form-control" formControlName="year">
            </div>
            <div class="mb-3">
                <label class="form-label">Km driven</label>
                <input type="text" class="form-control" formControlName="kmDriven">
            </div>
            <div class="mb-3">
                <label class="form-label">Price</label>
                <input type="text" class="form-control" formControlName="price">
            </div>
            <div class="mb-3">
                <div class="container">
                    <input type="file" class="form-control"  #files multiple formControlName="file">
                    <div class="row mx-2">
                        <div class="p-1 col-1" id="image"  *ngFor="let item of fileuploaded;index as i">
                            <img [src]="'http://localhost:3000/api/'+item" alt="">
                            <button class="btn " (click)="remove(i)"><i class="bi bi-slash-circle-fill text-danger"></i>></button>
                        </div>
                    </div>
                    <button class="btn btn-success m-1" type="button" (click)="send(files)">upload</button>
                </div>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                    formControlName="desc"></textarea>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-outline-success mx-2">Save</button>
                <button type="button" class="btn btn-outline-danger" (click)="cancel()">Cancel</button>
            </div>
        </div>
    </form>    
</div>
