
  #desc{
    width: auto;
    height: auto;
    border-top: solid 1px lightgrey;
    padding: 5px;
  }

  #desc2{
    height: auto;
    border-top: solid 1px lightgrey;
    padding: 5px;
    
  }

  .image{
    width: 100%;
    height: 25rem;
    object-fit: contain;
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}