<div class="container">
    <div class="row" *ngIf="resource?.length>0">
        <div class="col-lg-9" id="post">
            <div class="container-fluid p-1 d-sm-flex">
                <h2 class="text-muted">{{resource?.[0].brand | uppercase}} {{resource?.[0].model}}</h2>
                <h2 class="ms-auto">{{resource?.[0].price | currency:'INR':'symbol':'2.0'}}</h2>
            </div>
            <div class="d-inline-block col-9" ngbDropdown #myDrop="ngbDropdown" *ngIf="isAdmin">
                <button class="btn btn-outline-primary mr-2" id="dropdownManual" ngbDropdownAnchor
                    (focus)="myDrop.open()">Action</button>
                <div ngbDropdownMenu aria-labelledby="dropdownManual" #menu>
                    <input type="button" ngbDropdownItem (click)="removePost(id)"
                        value="Delete">
                    <input type="button" ngbDropdownItem  (click)="updatePost(id)"
                        value="Edit">
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img [src]="'https://truckystruck.s3.ap-south-1.amazonaws.com/'+currentImage" class="card-img-top col" alt="Loading..." loading="lazy">
                </div>
                <div class="card-body row">
                    <button class="btn btn-outline-secondary col" (click)="changeBack()">
                        < </button>
                            <div class="col d-flex justify-content-center">
                                <div class="pagination" *ngFor="let item of resource?.[0].photo;index as i">
                                    <span class="px-2" *ngIf="currentImage===item">&#9679;</span>
                                    <span class="px-2" *ngIf="currentImage!==item">&#9675;</span>
                                </div>
                            </div>
                            <button class="btn btn-outline-secondary col" (click)="changeFor()">></button>
                </div>
                <div class="card-body" id="">
                    <h4 class="card-text text-secondary">Detail</h4>
                    <div class="container row" id="desc">
                        <p class="card-text col-6 text-secondary">Brand : <span
                            class="text-primary">{{resource?.[0].brand | uppercase}}</span></p>
                    <p class="card-text col-6 text-secondary">Model : <span
                            class="text-primary">{{resource?.[0].model}}</span></p>
                    <p class="card-text col-6 text-secondary">KM : <span class="text-primary">{{resource?.[0].kmDriven |
                            number}}</span></p>
                    <p class="card-text col-6 text-secondary">Year : <span
                            class="text-primary">{{resource?.[0].year}}</span></p>
                    </div>
                    
                </div>
                <div class="card-body">
                    <p class="card-text text-secondary">Description</p>
                        <div class="card-text" id="desc2">
                            <p style="white-space: pre-wrap;overflow: auto;">{{resource?.[0].description}}</p>
                        </div>
                    <p class="card-text"><small class="text-muted">{{resource?.[0].date | date:'medium'}}</small></p>
                </div>
            </div>
           
        </div>
        <div class="col-lg-3 d-flex justify-content-center">
            <label>For Adds</label>
        </div>
    </div>

</div>