<section>
    <div class="container d-flex justify-content-center">
        <h2>Additional Features</h2>
    </div>
    <div class="container">
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Contact
                </mat-panel-title>
                <mat-panel-description>
                    User contact on this Number
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">+91</span>
                    <input type="text" class="form-control" placeholder="Phone" aria-label="Username"
                        aria-describedby="basic-addon1" #phone value="{{contact[0]?.phone}}">
                </div>
                <button class="btn btn-outline-primary" (click)="updateNumber(phone.value)">Update Number</button>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                   Change Banner
                </mat-panel-title>
                <mat-panel-description>
                     ##
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div>
                <div class="container">
                    <input type="file" class="form-control"  #files multiple (change)="send(files)" [hidden]="true">
                    <div class="row mx-2">
                        <div class="p-1 col-1" id="image" *ngIf="loader">
                            <app-loader class="loader"></app-loader>
                        </div>
                        <div class="p-1 col-1" id="image" *ngIf="fileuploaded.length>0">
                            <img [src]="'https://truckytruck.s3.us-west-1.amazonaws.com/'+fileuploaded?.[0]?.banner" alt="">
                        </div>
                        <div class="p-1 col-1" id="image">
                            <img [src]="'./assets/slideShow/addimg.png'" alt="" (click)="files.click()" id="selectimg">
                        </div>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Brand
                </mat-panel-title>
                <button class="btn" (click)="openbox(content)"><i class="bi bi-plus-circle"></i></button>
                <mat-panel-description>
                    Vehicle Brand
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div>
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let item of brand">
                        {{item.brand}}
                        <button class="btn text-danger" (click)="deleteBrand(item._id)">
                            <i class="bi bi-trash"></i>
                        </button>
                    </li>
                </ul>
            </div>
        </mat-expansion-panel>
    </div>
    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Add Brand</h4>
            <button type="button" class="btn" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Brand Name</label>
                    <input type="text" class="form-control" #brand>
                </div>
                <select class="form-select" aria-label="Default select example" #type>
                    <option selected>Select Catogory</option>
                    <option value="comercial">Comercial</option>
                    <option value="car">Car</option>
                    <option value="bike">Bike</option>
                </select>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark"
                        (click)="savebrand(brand,type,content)">Save</button>
                </div>
            </div>
        </form>
    </ng-template>

</section>