<aside>
    <div class="container">
        <div class="h3">Users <button class="btn btn-lg text-info">
                <i class="bi bi-plus-circle"></i>
            </button>
        </div>

        <mat-list>
            <mat-list-item>
                <button class="btn">Users</button>
                <mat-slide-toggle [aria-label]="isActive">
                </mat-slide-toggle>
                <button class="btn btn-lg text-danger">
                    <i class="bi bi-trash"></i>
                </button>
            </mat-list-item>
        </mat-list>
    </div>
</aside>