<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Post Add</h4>
        <button type="button" class="btn btn-outline-danger btn-sm" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="modal-body">
            <label class="form-label">Select Catagory</label>
            <select class="form-select" aria-label="Default select example" formControlName="type">
                <option selected>Select Catogory</option>
                <option value="comercial">Comercial</option>
                <option value="car">Car</option>
                <option value="bike">Bike</option>
            </select>
            <div>
                <small class="text-danger" *ngIf="form?.get('type')?.errors?.['required'] && form?.get('type')?.touched">Catogory Required</small>
            </div>
            <label class="form-label">Select Brand</label>
            <select class="form-select" aria-label="Default select example" formControlName="brand" >   
                <option *ngFor="let item of brands" value="{{item.brand}}">{{item.brand | uppercase}}</option>
            </select>
            <div>
                <small class="text-danger" *ngIf="form?.get('brand')?.errors?.['required'] && form?.get('brand')?.touched">Brand Required</small>
            </div>
            <div class="mb-3">
                <label class="form-label">Model</label>
                <input type="text" class="form-control" formControlName="model">
                <small class="text-danger" *ngIf="form?.get('model')?.errors?.['required'] && form?.get('model')?.touched">Model Required</small>
            </div>
            <div class="mb-3">
                <label class="form-label">Year</label>
                <input type="text" class="form-control" formControlName="year">
                <small class="text-danger" *ngIf="form?.get('year')?.errors?.['required'] && form?.get('year')?.touched">Year Required</small>
                <small class="text-danger" *ngIf="form?.get('year')?.errors?.['max'] || form?.get('year')?.errors?.['min'] && form?.get('year')?.touched">Year must between 2000 to 2022</small>
            </div>
            <div class="mb-3">
                <label class="form-label">Km driven</label>
                <input type="text" class="form-control" formControlName="kmDriven">
                <small class="text-danger" *ngIf="form?.get('kmDriven')?.errors?.['required'] && form?.get('kmDriven')?.touched">KM Required</small>
            </div>
            <div class="mb-3">
                <label class="form-label">Price</label>
                <input type="text" class="form-control" formControlName="price">
                <small class="text-danger" *ngIf="form?.get('price')?.errors?.['required'] && form?.get('price')?.touched">Price Required</small>
            </div>
            <div class="mb-3">
                <label class="form-label">Select Photo</label>
                <div class="container">
                    <input type="file" class="form-control"  #files multiple formControlName="file" (change)="send(files)" [hidden]="true">
                    <div class="row mx-2">
                        <div class="p-1 col-1" id="image"  *ngFor="let item of fileuploaded;index as i">
                            <img [src]="'https://truckystruck.s3.ap-south-1.amazonaws.com/'+item?.key" alt="">
                            <button class="btn " (click)="remove(i)"><i class="bi bi-slash-circle-fill text-danger"></i></button>
                        </div>
                        <div class="p-3 col-2 mt-3" *ngIf="loader">
                            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                        </div>
                        <div class="p-1 col-1" id="image">
                            <img [src]="'./assets/slideShow/addimg.png'" alt="" (click)="files.click()" id="selectimg">
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label" >Description</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                    formControlName="desc"></textarea>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-outline-dark" (click)="c('Save click')"  [disabled]="!form.valid">Save</button>
            </div>
        </div>
    </form>
</ng-template>
<button type="submit" class="btn btn-outline-warning" (click)="open(content)">Post Adds</button>